name: Auto Deploy Github Pages

on:
  push:
    branches: [ master ]

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    steps:
    - name: git-checkout
      uses: actions/checkout@v2

    - name: Install all dependencies
      run: npm install

    - name: Build
      run: npm run build # The build command of your project

    - name: Push
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: production
        FOLDER: ./
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
